version: '3'

services:
  spa:
    image: docker.pkg.github.com/overkilling/overkill-todo-spa-frontend/spa:${SPA_VERSION:?err}
    ports:
      - "80:80"
    expose:
      - "80"
    depends_on:
      - api
  api:
    image: docker.pkg.github.com/overkilling/overkill-todo-monolith-api/api:${API_VERSION:?err}
    environment:
      DB_HOST: db
    ports:
      - "3000:3000"
    expose:
      - "3000"
    depends_on:
      - db
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todo
    restart: on-failure

volumes:
  pgdata:
